.table_component {
  overflow-x: auto;
  max-height: 600px; /* Fixed height */
  overflow-y: auto; /* Vertical scroll */
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  margin: 20px auto;
  width: 95%;
  margin: 10px auto;
}

table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

thead {
  background-color: #f8f9fa;
}
thead th {
  z-index: 2;
  position: sticky;
  top: 0;
  text-align: center;
  padding: 14px;
  border-bottom: 10px solid #ff0000;
  color: #333;
  font-weight: 600;
}

tbody td {
  padding: 12px 14px;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}

tbody tr:hover {
  background-color: #e9f5ff;
}

.edit-btn {
  width: 25px;
  height: 25px;
  transition: transform 0.2s ease;
}

.edit-btn:hover {
  transform: scale(1.1);
}

.btn-danger,
.btn-secondary {
  padding: 6px 12px;
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 0.85rem;
  }

  .table_component {
    padding: 5px;
  }

  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 10px;
    border-bottom: 2px solid #acacac;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #333;
    text-align: left;
  }
}

.table_component thead th {
  background: #f3f3f3; /* Match table background */
  z-index: 2;
  border-bottom: 2px solid #b6b6b6;
}

#totalEntries {
  padding: 0rem 5rem;
  font-size: 1.3rem;
}
.margin-top {
  margin-top: 1rem !important;
}

.year-month-container {
  padding: 1rem 2rem;
  background-color: white;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  border-radius: 1.25rem;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
.year-month-container select {
  border-radius: 0.75rem;
  border: 1px solid rgb(230, 230, 230) !important;
  background: #f8f9fa;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}
.filter-by {
  font-size: 1.3rem;
}
